<div class="space"></div>
<div class="section">
  <div class="container">
    <h1>Editing organizer</h1>
    <%= render 'form' %>
    <%= link_to 'Back', organizers_path, class: 'admin-form-button' %>
  </div>
</div>