<div class="space"></div>
<div class="section">
  <div class="container">
    <h1>Listing organizers</h1>

    <table>
      <thead>
        <tr>
          <th>Email</th>
          <th>Name</th>
          <th>Bio</th>
          <th>Twitter handle</th>
          <th>Website</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @organizers.each do |organizer| %>
          <tr>
            <td><%= organizer.email %></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><%= link_to 'Edit', edit_organizer_path(organizer), class: 'admin-form-button' %> </td>
            <td><%= link_to 'Destroy', organizer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'admin-form-button' %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Back', '/admin', class: 'admin-form-button' %>
  </div>
</div>