<div class="space"></div>
<div class="section">
  <div class="container">
    <h1>Editing participant</h1>
    <%= render 'form' %>
    <%= link_to 'Show', @participant, class: 'admin-form-button' %> |
    <%= link_to 'Back', participants_path, class: 'admin-form-button' %>
  </div>
</div>