<div class="space"></div>
<div class="section">
  <div class="container code-of-conduct">
    <div class="two-thirds column">
      <h4 class="section-header">
        code of conduct
      </h4>
      <p>Art Hack Day is committed to providing a friendly, safe, and welcoming environment for all, regardless of gender, sexual orientation, disability, ethnicity, religion, preferred operating system, programming language, or text editor.</p>
      
      <p>We expect all event participants to help us realize a safe and positive event experience for everyone. At all event venues and event-affiliated social events we expect everyone will:</p>
      
      <ul>
        <li>Be considerate, respectful, and collaborative.</li>
        <li>Refrain from demeaning, discriminatory, or harassing behavior and speech.</li>
        <li>Be mindful of your surroundings and of your fellow participants. Alert event organizers if you notice a dangerous situation or someone in distress.</li>
        <li>Participate in an authentic and active way. In doing so, you help to create Art Hack Day and make it your own.</li>
      </ul>
      
      <p>Unacceptable behaviors include harassing, abusive, discriminatory, or derogatory conduct. Harassment includes: offensive comments related to gender, sexual orientation, race, religion, disability; inappropriate use of sexual images; deliberate intimidation, stalking, or following; harassing photography or recording; sustained disruption of talks or events; inappropriate physical contact, and unwelcome sexual attention.</p>

      <p>These behaviors will not be tolerated and anyone asked to stop is expected to comply immediately. If a participant behaves unacceptably, the event organizers may take action they deem appropriate, including expulsion from the event without warning.</p>

      <p>The Art Hack Day team is available to help participants contact venue security or local law enforcement and to otherwise ensure everyone feels safe for the duration of the event. If you or anyone else are subject to unacceptable behavior, or you have any other concerns, notify an organizer as soon as possible. You can reach us at:</p>

      <p>This Code of Conduct is based on the <a href="http://goruco.com/code-of-conduct/">GORUCO Code of Conduct</a>, which is based on the <a href="http://opensourcebridge.org/about/code-of-conduct/">Open Source Bridge Code of Conduct</a> and itself licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike</a>.</p>
      
    </div>

  </div>
</div>