<div class="space"></div>
<div class="section">
  <div class="container code-of-conduct">
    <div class="two-thirds column">
      <h4 class="section-header">
        code of conduct
      </h4>
      <p>During Art Hack Day, we create an exhibit from scratch in 48h. It’s intense and rewarding. Here is our Code of Conduct to make everything run smoothly for both participants and volunteers. We encourage you to work in teams and with other participants of different backgrounds and practices. It tends to be the most rewarding and always results in compelling work.</p>

      <p>As such, Art Hack Day is committed to providing a friendly, safe, and welcoming environment for all, regardless of gender, sexual orientation, ability, ethnicity, socioeconomic status, and religion (or lack thereof).</p>
      
      <p>We expect all event participants to help us realize a safe and positive event experience for everyone. At all event venues and event-affiliated social events we expect everyone will:</p>
      
      <ul>
        <li>Be considerate, respectful, and collaborative.</li>
        <li>Refrain from demeaning, discriminatory, or harassing behavior and speech.</li>
        <li>Be mindful of your surroundings and of your fellow participants. Alert event organizers if you notice a dangerous situation or someone in distress.</li>
        <li>Participate in an authentic and active way. In doing so, you help to create Art Hack Day and make it your own.</li>
      </ul>
      
      <p>Unacceptable behaviors include harassing, abusive, discriminatory, or derogatory conduct. Harassment includes: offensive comments related to gender, sexual orientation, race, religion, disability; inappropriate use of sexual images; deliberate intimidation, stalking, or following; harassing photography or recording; sustained disruption of talks or events; inappropriate physical contact, and unwelcome sexual attention.</p>

      <p>These behaviors will not be tolerated and anyone asked to stop is expected to comply immediately. If a participant behaves unacceptably, the event organizers may take action they deem appropriate, including expulsion from the event without warning.</p>

      <p>The Art Hack Day team is available to help participants contact venue security or local law enforcement and to otherwise ensure everyone feels safe for the duration of the event. If you or anyone else are subject to unacceptable behavior, or you have any other concerns, notify an organizer as soon as possible. Event organizers are listed under "ORG" on each event page.</p>

      <p>There will be a limited amount of equipment you can borrow for your works on-site. The organizers will share this list of equipment with you before the event. Please note that we do our best to accommodate all equipment requests, and we ask that you are respectful of your fellow participants’ needs as well.</p>

      <p>One of the organizers is designated as the lead exhibition caretaker. This person is responsible for  facilitating the exhibition design and layout for each project. Please stay in close communication with the lead exhibit caretaker about the needs of your project and be sure to let them know if your project is a site-specific installation. After the initial layout design is distributed to artists, there will likely be additional revisions. Site-specific projects will not be moved without the prior consent and participation of the artist. We thank participants in advance for their flexibility. As a participant you will be responsible for the final install yourself, however, a limited set of volunteers will be able to help.</p>

      <p>In the event that a work must be installed early, please keep in mind that the exhibit space is a high-activity area while other works are being installed prior to the exhibit opening. You should provide adequate protection for your equipment and art piece to ensure it is not accidentally disturbed during regular install.</p>

      <p>We recognize that people have busy schedules and not everyone has the privilege to take time off. If you as a participant are unable to be present in the exhibit space during the last day, i.e., the day of the install, we kindly request that you give us permission to move your work if needed to accommodate the needs of all works in setting up the exhibit space.</p>

      <p>We recognize the lack of equitable representation in the creative technology community. A key priority in laying out the exhibition is to highlight the work by under-represented groups and celebrate the vision of the diverse community this event aims to celebrate.</p>

      <p>The exhibit is open to the public on the night of the public opening. After that it’s taken down. Organizers and volunteers may start uninstalling and moving any works after the exhibit closes since the space needs to be cleared out the next day. Organizers will provide time during the day following the exhibit to pick up personal gear and equipment, and may not be able to store any gear or work otherwise left behind.</p>

      <p>We hope you have a great time and make many, new, long-lasting friendships.</p>

      <p>This Code of Conduct is based on the <a href="http://goruco.com/code-of-conduct/">GORUCO Code of Conduct</a>, which is based on the <a href="http://opensourcebridge.org/about/code-of-conduct/">Open Source Bridge Code of Conduct</a> and itself licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike</a>.</p>
      
    </div>

  </div>
</div>