<div class="space"></div>
<div class="section">
  <div class="container">
    <h1>Editing Event</h1>
    <%= render 'form' %>
    <%= link_to 'Show', @event, class: 'admin-form-button' %> 
    <%= link_to 'Back', events_path, class: 'admin-form-button' %>
  </div>
</div>