<div class="space"></div>
<div class="section">
  <div class="container">
    <h1>Editing Event</h1>
    <%= render 'form' %>
    <%= link_to 'Show', @event %> |
    <%= link_to 'Back', events_path %>
  </div>
</div>