<div class="space"></div>
<div class="section">
	<div class="container">
    <h1>Editing venue</h1>
    <%= render 'form' %>
    <%= link_to 'Show', @venue, class: 'admin-form-button' %> |
    <%= link_to 'Back', venues_path, class: 'admin-form-button' %>
  </div>
</div>