<div class="space"></div>
<div class="section">
  <div class="container">
    <h1>Editing project</h1>
    <%= render 'form' %>
    <%= link_to 'Show', @project, class: 'admin-form-button' %>
    <%= link_to 'Back', projects_path, class: 'admin-form-button' %>
  </div>
</div>