<div class="space"></div>
<div class="section">
  <div class="container">
<h1>Editing press_blurb</h1>

<%= render 'form' %>

<%= link_to 'Show', @press_blurb %> |
<%= link_to 'Back', press_blurbs_path %>
</div>
</div>