<div class="section" id="landing-header"></div>

<div class="section" id="about-page">

	<div class="container" id="about-video">

	</div>
	<div class="container" id="about-header">
		<div class="sixteen columns">
			<div id="ahd-tagline">
				<h2>Art Hack Day is an internet-based nonprofit dedicated to hackers whose medium is art and artists whose medium is tech. </h2>
			</div>
		</div>
	</div>
	<div class="container about-what-section">
		<div class="one-third column">
			<img src="https://scontent-b-ord.xx.fbcdn.net/hphotos-prn1/1016219_652590831432406_400949765_n.jpg"/>
		</div>
		<div class="two-thirds column">	
			<div class="section-header">WHAT IS ART HACK DAY</div>
			<p>Art Hack Day is an internet-based nonprofit dedicated to hackers whose medium is art and artists whose medium is tech We bridge the gap between art, technology and entrepreneurship with grassroots hackathons that demonstrate the expressive potential of new technology and the power of radical collaboration in art. We believe in non-utilitarian beauty through technology and its ability to affect social change for public good. Art Hack Day is an internet-based nonprofit through technology and its ability to affect social change for public good</p>
		</div>
	</div>
	<div class="container about-what-section">
		<div class="one-third column">
			<img src="https://scontent-b-ord.xx.fbcdn.net/hphotos-prn1/1016219_652590831432406_400949765_n.jpg"/>
		</div>
		<div class="two-thirds column">	
			<div class="section-header">WHAT IS ART HACK DAY</div>
			<p>Art Hack Day is an internet-based nonprofit dedicated to hackers whose medium is art and artists whose medium is tech We bridge the gap between art, technology and entrepreneurship with grassroots hackathons that demonstrate the expressive potential of new technology and the power of radical collaboration in art. We believe in non-utilitarian beauty through technology and its ability to affect social change for public good. Art Hack Day is an internet-based nonprofit through technology and its ability to affect social change for public good</p>
		</div>
	</div>	
	<div class="container about-what-section">
		<div class="one-third column">
			<img src="https://scontent-b-ord.xx.fbcdn.net/hphotos-prn1/1016219_652590831432406_400949765_n.jpg"/>
		</div>
		<div class="two-thirds column">	
			<div class="section-header">WHAT IS ART HACK DAY</div>
			<p>Art Hack Day is an internet-based nonprofit dedicated to hackers whose medium is art and artists whose medium is tech We bridge the gap between art, technology and entrepreneurship with grassroots hackathons that demonstrate the expressive potential of new technology and the power of radical collaboration in art. We believe in non-utilitarian beauty through technology and its ability to affect social change for public good. Art Hack Day is an internet-based nonprofit through technology and its ability to affect social change for public good</p>
		</div>
	</div>	

	<div class="container about-partner-venue">
		<div class="one-third column">
			<div class="section-header">PARTNER VENUES</div>
			<p>Art Hack Day is an internet-based nonprofit dedicated to hackers whose medium is art and artists whose medium is tech We bridge the gap between art, technology and entrepreneurship with grassroots hackathons that demonstrate the expressive potential of new technology and the power of radical collaboration in art. We believe in non-utilitarian beauty through technology and its ability to affect social change for public good. Art Hack Day is an internet-based nonprofit through technology and its ability to affect social change for public good</p>
		</div>
		<div class="two-thirds column">	
			<img src="https://scontent-b-ord.xx.fbcdn.net/hphotos-prn1/1016219_652590831432406_400949765_n.jpg"/>
		</div>
	</div>	

	<div class="container about-press">
		<div class="sixteen columns">
			<div class="section-header">WHAT PEOPLE ARE SAYING ABOUT ART HACK DAY</div>
		</div>

		<!-- press blurb -->
		<div class="one-third column about-press-blurb">
			<div>
				<div>
					<div class="section-header">NEW YORK TIMES</div>
					<p>“The theme explores how we use technology to be seen but also to become invisible and lay out smokescreens”</p>
				</div>
			</div>
		</div><!-- close press blurb -->

		<!-- press blurb -->
		<div class="one-third column about-press-blurb">
			<div>
				<div>
					<div class="section-header">NEW YORK TIMES</div>
					<p>“The theme explores how we use technology to be seen but also to become invisible and lay out smokescreens”</p>
				</div>
			</div>
		</div><!-- close press blurb -->

		<!-- press blurb -->
		<div class="one-third column about-press-blurb">
			<div>
				<div>
					<div class="section-header">NEW YORK TIMES</div>
					<p>“The theme explores how we use technology to be seen but also to become invisible and lay out smokescreens”</p>
				</div>
			</div>
		</div><!-- close press blurb -->

		<!-- press blurb -->
		<div class="one-third column about-press-blurb">
			<div>
				<div>
					<div class="section-header">NEW YORK TIMES</div>
					<p>“The theme explores how we use technology to be seen but also to become invisible and lay out smokescreens”</p>
				</div>
			</div>
		</div><!-- close press blurb -->

		<!-- press blurb -->
		<div class="one-third column about-press-blurb">
			<div>
				<div>
					<div class="section-header">NEW YORK TIMES</div>
					<p>“The theme explores how we use technology to be seen but also to become invisible and lay out smokescreens”</p>
				</div>
			</div>
		</div><!-- close press blurb -->

		<!-- press blurb -->
		<div class="one-third column about-press-blurb">
			<div>
				<div>
					<div class="section-header">NEW YORK TIMES</div>
					<p>“The theme explores how we use technology to be seen but also to become invisible and lay out smokescreens”</p>
				</div>
			</div>
		</div><!-- close press blurb -->


	</div>	
</div>