html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: @font-basic;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1,
h2,
h3 {
  line-height: 40px;
}
h1{
	font-size: 50px;
}
h2{
	font-size: 30px;
}
ul,li{
	list-style: none;
}
a, u {
    text-decoration: none;
}
i{
    font-style:normal;
    font-family: @icons;
}
/* MISC */
.remove-bottom { margin-bottom: 0 !important; }
.half-bottom { margin-bottom: 10px !important; }
.add-bottom { margin-bottom: 20px !important; }
.no-display { display: none; }
.half-display{ opacity:.2}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}


// variables
@black: rgb(18, 17, 18);
@blackLight: rgb(128,128,128);
@white: rgb(255, 255, 255);


// Transition
.transition(@params){
  -moz-transition: @params; // FF4+
  -o-transition: @params; // Opera 10.5+
  -webkit-transition: @params; // Safari 3.2+, Chrome
  -ms-transition: @params; // IE10
  transition: @params; // CSS3
}
