@import "fonts.less";
@import "base.less";
@import "skeleton.less";
// @import "videojs.less";

@margin: 20px;
@electric-blue: #5000ff;
.vjs-big-play-button {
visibility: hidden;}
a{
	color:@electric-blue;
	font-family: 'COLFAX';
}

.nav{
	height:98px;
	width:100%;
	top:0px;
	.transition(all 1s ease);
	z-index: 5;
	text-transform:uppercase;

	&.not-top{
		background-color: black;
	}
	&#nav-main{
		height:98px;
		position: absolute;
		.nav-left{
			// #black-logo{
			// 	display:none;
			// 	&.show-black{
			// 		display:block;
			// 	}
			// }
			img{
				width:68px;
				height: 65px;
			}
		}
		&.black-on-white{
			ul{
				li{
					a{
						color:black;						
					}
				}
			}

		}
	}
	.back-to-top{
		cursor: pointer;
		img{
			height: 10px;
			margin-top: 4px;
		}
	}
	.nav-left{
		margin: 25px;
		color:white;
		font-size: 12px;
		float: left;

		img{
			margin-right: 25px;
			position: relative;
			top:-2px;
		}
		a{
			background-color: transparent;
		}
	}
	.nav-right{
		margin: 18px 25px 0px 0px;
		float: right;
		&.dark{
			ul{
				li{
					
					a{
						color:black;	
					}
				}
			}
		}
		ul{
			// margin: 39px 20px 0px 0px;
			&.about{
				.about{
					border-bottom: 1px solid white;
				}
			}
			&.events{
				.events{
					border-bottom: 1px solid white;
				}
			}
			&.contact{
				.contact{
					border-bottom: 1px solid white;
				}
			}
			li{
				display: inline-block;
				margin-left: 16px;
				a{
					color: white;
				}
			}
		}
	}
	&#nav-drop{
		height:40px;
		background-color: black;
		position: fixed;
		.nav-right{
			margin: 10px 25px 0px 0px;
		}
		.nav-left{
			margin: 12px 0px 0px 25px;
			width: 125px;
		}
	}
}

.section{
	// general
	&#location-section{
		iframe{
			height:400px;
		}
	}
	&#footer{
		color:white;
		font-family: 'COLFAX';
		margin-top: 200px;
		#footer-top{
			height:55px;
			border-top: 1px solid gray;
			background-color: black;
			height:90px;
			.pull-left{
				margin-top: 35px;
			}
			#newsletter-signup{
				float: left;
				font-family: 'COLFAX';
				margin-left: 25px;
				font-size: 13px;
				.transition(all .2s ease);
				&:hover{
					color:@electric-blue;
				}
				#signup{
					margin-top: 2px;
					cursor: pointer;
				}
				#signup-input{
					display:none;
					position: relative;
					top: -7px;
					input{
						border: 1px solid white;
						background-color: black;
						height: 28px;
						width:200px;
						color:white;
					}
					button{
						height: 32px;
						border: 1px solid white;
						background-color: white;
						margin-left: -5px;
						font-family: 'COLFAX';
						font-size: 13px;
						padding: 0px 20px;
						cursor: pointer;
					}
				}
			}
			#social-section{
				float: left;
				li{
					float:left;
					font-size: 20px;
					margin-left: 20px;
					.transition(all .2s ease);
					a{
						color:white;
						&:hover{
							color: @electric-blue;							
							margin-top: 1px;

						}
						svg{
							height:20px;
							width:20px;
						}
					}
					&:hover{
						margin-top: 1px;
					}
				}
			}
			#main-sponsors{
				margin-top: 35px;
				a,div{
					float:right;
					font-size: 13px;
				}
				div{
					margin-right: 25px;
				}
				a{
					margin-top: -10px;
				}
				img{
					width: 200px;
				}
			}
		}
		#footer-bottom{
			height:26px;
			background-color: @electric-blue;
			text-align: left;
			padding-top: 9px;
			font-size: 12px;
			text-transform: capitalize;
			#organized-by{
				font-size: 10px;
				color: white;
				a{
					&:hover{
						color: black;
					}
				}
			}
			a{
				color:white;
			}
		}
	}
	&#about-page{
		.controls-wrapper{
			.title{
				display:none;
			}
		}
		.container{
			&.about-what-section{
				margin: 75px auto;
				.one-third{
					img{
						width:100%;
					}
				}
				.two-thirds{
					.section-header{
						margin-top: -3px;
					}
				}

			}
			&.about-partner-venue{
				margin-top: 150px;
				.partner-container{
					height: 427px;

					.section-header{
						margin-top: -3px;
					}
					p{
						margin-bottom: 20px;
					}
					ul{
						li{
							a{
								color: black;
							}
						}
					}
					button{
						color:@white;
						background-color: black;
						border-radius: 0px;
						border: none;
						font-family: 'COLFAX';
						font-size: 13px;
						position: absolute;
						bottom: 3px;
						padding: 7px 60px;
						.transition(all .2s ease);
						cursor: pointer;
						&:hover{
							background-color: @electric-blue;
						}
					}
				}	
				.two-thirds{
					img{
						width:100%;
					}
				}
			}

			&.about-press{
				margin: 150px auto;
				.about-press-blurb{
					position: relative;
					height: 190px;
					margin-bottom: 40px;
					a{
						color:@black;
						.transition(all .2s ease);
						> div{
							.transition(all .2s ease);
							border: 1px solid black;
							padding: 0px 20px;
							position: absolute; 
							display: table; 
							height:190px;
							> *{
								display: table-cell; 
								vertical-align: middle; 
								text-align: center;
								.section-header{
									margin-bottom: 20px;
								}
							}
						}
						&:hover{
							color:@white;
							> div{
								color:@white;
								border-color: @electric-blue;
								background-color: @electric-blue;
								.section-header,p{
									color:white;
								}

							}
						}						
					}

				}
			}
			&.about-sponsors{
				.sponsor-space{
					height: 50px;
				}
				.about-sponsor{
					background-color: @black;
					margin-bottom: 40px;
					height: 200px;
				}
				.sponsor-us{
					a{
						div{
							border: 1px solid black;
							text-align: center;
							padding: 35px 0px 30px 0px;							
							color:black;
							.transition(all .2s ease);
							font-size: 35px;
						}
						&:hover{
							div{
								color: @white;
								background-color: @electric-blue;
								border-color: @electric-blue;
							}
						}
					}
				}
			}
		}
	}
	// landing page
	&#landing-header{
		overflow: hidden;
		iframe{
			position: absolute;
		}

		#about-video-container{

			.big-play{
				height: 90px;
				width:78px;
				position: absolute;
				left: 50%;
				top: 50%;
				z-index: 2;
				margin-left: -39px;
				margin-top: -45px;
				cursor: pointer;
				// pointer-events:none;
				#play-button-svg{

				}
			}


			#about-video{
				height:100%;
				&.playing{
					cursor: pointer;
				}
				.vjs-poster{
					background-size: cover;
				}

			}			
		}

	}
	&#landing-header, &#header{
		height: 500px;
		background-color: black;
		color: white;
		position: relative;
		// &#hero, #sub-hero, #header-credit a{
		// 	&.dark{
		// 		color:black;
		// 	}
		// }
		&.tiled-header{
			background-repeat:repeat;
		}
		background-color:black;
		&.dark{
			background-color: white;

		}
		&.centered-header{
			  -webkit-background-size: cover;
			  -moz-background-size: cover;
			  -o-background-size: cover;
			  background-size: cover;
			  background-position:center; 
		}
		a{
			color:white;
		}
		.event-callout{
			text-align: center;
			font-family: 'COLFAX';
			text-transform:uppercase;
			color:white;
			top: 50%;
			position: absolute;
			width: 100%;
			#sub-hero{
				font-size: 21px;
				h2,h3,h4{
					color:white;
				}
			}
			&.dark{
				#hero,#sub-hero{
					color: black;
				}
			}
		}
		#header-credit{
			position:absolute;
			bottom:20px;
			margin-left: 25px;

			a{
				color:white;
			}
			&.dark{
				a{
					color: black;
				}
			}
		}
	}
	&#project-page{
		background-color: white;
		#project{
			padding-top: 150px;
			#project-description{
				h2{
					margin-bottom: 20px;
					margin-top: 0px;
					top: -8px;
					position: relative;
				}
				p{
					margin:30px 0px;
				}
				a > p{
					margin: 0px;
					&:hover{
						color: @electric-blue;
					}
				}
				.section-header{
					margin: 30px 0px;
				}
				.project-contributor{
					margin-bottom: 30px;
					img, div{
						display: inline-block;
						vertical-align: middle;
					}
					img{
						margin-right: 10px;
					}

					p{
						margin:0px;
						color: @electric-blue;
						a{
							font-family:@font-basic;
						}
					}

				}
			}
			#project-contents{
				.project-item{
					margin-bottom: 40px;
					img{
						width: 100%;
					}
				}
			}
		}
	}
	&#events-page{
		#events{
			margin-top: 50px;
		}
	}
	#events{
		background-color: white;
		height: 100%;
		li{
			height:30px;
			padding:25px;
			margin: 40px 0px;
			background-color: white;
			border: 1px solid black;
			color: black;
			.transition(all .2s ease);
			&:hover{
				background-color: @electric-blue;
				border-color: @electric-blue;
				color: white;
				a{
					color:white;
				}
				h4,h2,h3{
					color:white;
				}
			}
			.left-event{
				float:left;
				text-transform:uppercase;
			}
			.right-event{
				float:right;
				text-transform:uppercase;
				div{
					top:-2px;
					position: relative;
					float: right;
					clear: both;
				}
			}
			&:first-child{
				margin-top: 0px;
			}
		}
	}
	&#contact-page{
		background-color: black;
		color:white;
		padding-top: 150px;
		padding-bottom: 200px;
		min-height: 100%;
		margin-bottom: -200px;
		height:100%;
		color:white;
		.section-header{
			color:white;
		}
		.one-third{
			ul{
				li{

					a{
						color:white;
						&:hover{
							color: @electric-blue;
						}
					}
					margin-bottom: 30px;
					div{
						color:white;							
					}
					p{
						color:white;
						a{
							font-family: @font-basic;
							font-size: 14px;
							line-height: 17px;							
						}
						font-family: @font-basic;
						font-size: 14px;
						line-height: 17px;
					}
				}
			}
		}
		.two-third{
			textarea{
				height: 200px;
			}
			input, textarea{
				border: 1px solid white;
				background-color: black;
				padding: 10px;
				width: 100%;
				font-family: @font-basic;
				font-size: 14px;
				line-height: 17px;
				margin-bottom: 30px;
				color: white;
			}
			button{
				border: 1px solid white;
				background: none;
				color: white;
				padding: 10px 40px;
				font-family: 'COLFAX';
				text-transform: uppercase;
				font-size: 13px;
				cursor: pointer;
				&:hover{
					color: black;
					background-color: white;
				}
			}
		}
	}
	&#ahd-about{
		#ahd-tagline{
			
		}
	}

	// events
	&#header{
		height:65%;
		background-color: black;
		color: @white;
		&.dark{
			background-color: white;
		}
	}

	&#event-about{
		margin: 75px 0px;
		h2{
			text-transform:uppercase;
			margin-bottom: 25px;
		}
		.about-event-section{
			h4{
				margin-bottom: 25px;
			}
			p{
				color:black;
			}
		}
		.about-event-right{
			img{
				width: 100%;
			}
			.border-container{
				width: 100%;
				border: 1px solid black;
				&> div{
					margin: 20px;
				}
				.pre-about{
					button{
						cursor: pointer;
						height:32px;
						padding:0px 20px;
						background-color: black;
						font-family: 'COLFAX';
						color: white;
						border: none;
						font-size: 13px;
						margin:15px 0px;
						.transition(all .2s ease);
						&:hover{
							background-color: @electric-blue;
						}
					}
				}
			}
		}
	}
	&#press-partners{
		#press-container{
			.border-container{
				border: 1px solid black;
				width:100%;
			}
			.press{
				margin: 20px;
				a{
					color:@electric-blue;
					font-family:@font-basic;
					&:hover{
						color:black;
					}
				}
			}
		}
		#partners-container{
			.partner{
				background-color: #eee;
				height: 186px;
				margin-bottom: 40px;
				a{
					img{
						border: 1px solid black;
					}
				}
				&:nth-child(even){
					margin-right: 0px;
				}
				&:nth-child(odd){
					margin-left: 0px;
				}
			}
		}
	}
	&#participants{
		margin-top: 100px;
		#participants-container{
			-moz-column-count:3; /* Firefox */
			-webkit-column-count:3; /* Safari and Chrome */
			column-count:3;
			.participant{
				.name{
					cursor: pointer;
					&:hover{
						color: @electric-blue;
						svg{
							opacity: 1;

						}
					}

					svg{
						margin-left: 10px;
						opacity: 0;
						position: relative;
						top: -1px;
						float: right;
						.rotation(180deg);
					}
					&.selected{
						color: @electric-blue;
						&:hover{
							color:black;
							svg{
								.rotation(0deg);
							}
						}

					}
				}
				.participant-additional{
					margin:10px 0px;
					display: none;
					img,div{
						display: inline-block;
						vertical-align: middle;
					}
					img{
						margin-right: 10px;
					}
					a{
						&:hover{
							color: black;
						}
					}
				}
				.participant-bottom{
					padding: 20px 0px;
					border-bottom: 1px solid black;
				}
			}

		}
	}
	&#projects{
		.projects{
			.project{
				position: relative;
				img{
					width: 100%;
					display: block;
				}
				// height: 200px;
				margin-bottom: 40px;
				overflow: hidden;
				> div{
					position: absolute;
					top: 0px;
					width: 100%;
					height: 100%;
				}
				.project-info{
					.transition(all .2s ease);

					opacity: 0;
					background-color: @electric-blue;
					color: white;
					height: 100%;
					width: 100%;
					text-align: center;
					.project-wrapper{
						position: absolute;
						width: 100%;
						top: 50%;
						> div{
							margin-top: -30px;
							.basic-colfax{
								margin-bottom: 20px;
								padding: 0px 15px;
							}
							p{
								padding:0px 10px;
							}	

						}
					
					}

				}
				&:hover .project-info{
					opacity: 1;
				}
			}
		}
	}
	.container{
		margin: 0px auto;
		.section-header{
			margin-bottom: @smallMargin;
		}
		.about-paragraph{
			font-size: 20px;
			padding:0px @margin;
		}
		#events-homepage{
			.event-homepage{
				.event-display{
					height: 200px;
					width:100%;
					background-color:gray;
				}
				.event-title{
					margin-top: @smallMargin;
					a{
						font-family: 'COLFAX';
						color: black;
						text-transform:uppercase;
						font-size: 13px;
						&:hover{
							color:@electric-blue;
						}
					}
					
				}
				.event-short-about{
					margin-top: @smallMargin;
					font-family: @font-basic;
					height: 53px;
					/* Fallback for non-webkit */
					overflow: hidden;
					font-size: 14px;
					line-height: 17px;
				}
				.event-short-more{
					font-size: 13px;
					position: relative;
					bottom: 16px;
					background-color: white;
					float: right;
					padding-left: 5px;
					-webkit-box-shadow: -5px 0px 5px rgba(255, 255, 255, 0.75);
					-moz-box-shadow:    -5px 0px 5px rgba(255, 255, 255, 0.75);
					box-shadow:         -5px 0px 5px rgba(255, 255, 255, 0.75);
					a{
						color:black;
						font-family: 'COLFAX';
						&:hover{
							color:@electric-blue;
						}
					}

				}
			}
		}
	}
}

@import "responsive.less";
@import "animations.less";