@import "fonts.less";
@import "base.less";
@import "skeleton.less";

@margin: 20px;
@electric-blue: #5000ff;

a{
	color:@electric-blue;
}


#nav{
	height:98px;
	width:100%;
	position: fixed;
	top:0px;
	.transition(all 1s ease);
	z-index: 5;
	&.not-top{
		background-color: black;
	}

	#nav-left{
		margin: 25px;

		float: left;
		a{
			background-color: transparent;
		}
	}
	#nav-right{
		margin: 25px;

		float: right;
		ul{
			// margin: 39px 20px 0px 0px;
			li{
				display: inline-block;
				margin-left: 20px;
				a{
					color: white;
				}
			}
		}
	}
}

.section{
	// general
	&#footer{
		color:white;
		#footer-top{
			height:55px;
			border-top: 1px dotted gray;
			background-color: black;
			#newsletter-signup{
				margin-top:18px;
			}
			#social-section{
				margin-top: 17px;
				ul{
					li{
						float:right;
						font-size: 20px;
						margin-left: 10px;
						a{
							color:white;
						}
						&:hover{
							margin-top: 1px;
						}
					}
				}
			}
		}
		#footer-middle{
			border-top: 1px dotted gray;
			height:150px;
			background-color: black;
			#main-sponsors{
				text-align: center;
				div{
					margin-top: 30px;
				}
				img{
					margin-top: 20px;
				}
			}
		}
		#footer-bottom{
			height:26px;
			background-color: @electric-blue;
			text-align: center;
			padding-top: 9px;
			a{
				color:white;
			}
		}
	}

	// landing page
	&#landing-header{
		height: 800px;
		background-color: #aaa;
		color: white;
		position: relative;
		.container{
			position:relative;
			top: 50%;
			margin-bottom: 110px;
			font-family: @header;
		}
	}
	&#ahd-about{
		#ahd-tagline{
			font-size: 25px;
			line-height:30px;
		}
	}

	// events
	&#header{
		height:500px;
		background-color: #aaaaaa;
		color: @white;
	}


	&#projects{
		.projects{
			.project{
				width:260px;
				height: 160px;
				padding: @margin;
				background-color: #ddd;
				display: inline-block;
				margin: 0px 0px @margin @margin;
				vertical-align: top;
				color: white;
				.project-inner{
					width:100%;
				}
			}
		}
	}
	.container{
		margin: 0px auto;
		.section-header{
			margin: 0px 0px @margin @margin;
		}
		.about-paragraph{
			font-size: 20px;
			padding:0px @margin;
		}
	}
}

@import "responsive.less";