@import "fonts.less";
@import "base.less";
@import "skeleton.less";

@margin: 20px;
@electric-blue: #5000ff;

a{
	color:@electric-blue;
	font-family: 'COLFAX';
}


.nav{
	height:98px;
	width:100%;
	top:0px;
	.transition(all 1s ease);
	z-index: 5;
	text-transform:uppercase;

	&.not-top{
		background-color: black;
	}
	&#nav-main{
		height:98px;
		position: absolute;

	}
	.back-to-top{
		cursor: pointer;
	}
	.nav-left{
		margin: 25px;
		color:white;
		font-size: 12px;
		float: left;
		a{
			background-color: transparent;
		}
	}
	.nav-right{
		margin: 25px;
		font-size: 12px;
		float: right;
		ul{
			// margin: 39px 20px 0px 0px;
			li{
				display: inline-block;
				margin-left: 20px;
				a{
					color: white;
				}
			}
		}
	}
	&#nav-drop{
		height:40px;
		background-color: black;
		position: fixed;
		.nav-right{
			margin: 12px 25px 0px 0px;
		}
		.nav-left{
			margin: 12px 0px 0px 25px;
		}
	}
}

.section{
	// general
	&#footer{
		color:white;
		font-family: 'COLFAX';
		#footer-top{
			height:55px;
			border-top: 1px solid gray;
			background-color: black;

			#newsletter-signup{
				margin-top:18px;
				font-family: 'COLFAX';

			}
			#social-section{
				margin-top: 17px;
				ul{
					li{
						float:right;
						font-size: 20px;
						margin-left: 10px;
						a{
							color:white;
						}
						&:hover{
							margin-top: 1px;
						}
					}
				}
			}
		}
		#footer-middle{
			border-top: 1px solid gray;
			height:150px;
			background-color: black;
			#main-sponsors{
				text-align: center;
				div{
					margin-top: 30px;
				}
				img{
					margin-top: 20px;
				}
			}
		}
		#footer-bottom{
			height:26px;
			background-color: @electric-blue;
			text-align: center;
			padding-top: 9px;
			a{
				color:white;
			}
		}
	}

	// landing page
	&#landing-header{
		height: 800px;
		background-color: #aaa;
		color: white;
		position: relative;
		.container{
			position:relative;
			top: 50%;
			margin-bottom: 110px;
			font-family: @header;
		}
		#header-credit{
			position:absolute;
			bottom:20px;
			margin-left: 25px;
			font-size: 12px;
			a{
				font-family: 'COLFAX';
				text-transform:uppercase;
				color:white;
			}
		}
	}

	&#ahd-about{
		#ahd-tagline{
			font-size: 40px;
			line-height:40px;
			font-family: 'COLFAX';
			text-transform:uppercase;
			a{
				font-family: 'COLFAX';
				color: @electric-blue;
			}
		}
	}

	// events
	&#header{
		height:500px;
		background-color: #aaaaaa;
		color: @white;
	}


	&#projects{
		.projects{
			.project{
				width:260px;
				height: 160px;
				padding: @margin;
				background-color: #ddd;
				display: inline-block;
				margin: 0px 0px @margin @margin;
				vertical-align: top;
				color: white;
				.project-inner{
					width:100%;
				}
			}
		}
	}
	.container{
		margin: 0px auto;
		.section-header{
			font-family: 'COLFAX';
			text-transform:uppercase;
			font-size: 14px;
			margin-bottom: @smallMargin;
			a{
				color: black;
			}
		}
		.about-paragraph{
			font-size: 20px;
			padding:0px @margin;
		}
		.event-callout{
			text-align: center;
			#hero{
				font-size: 150px;
				line-height: 150px;
				font-family: 'COLFAX';
				text-transform:uppercase;
			}
			#sub-hero{
				font-size: 14px;
				line-height: 14px;
				font-family: 'COLFAX';
				text-transform:uppercase;
			}
		}
		#events-homepage{
			.event-homepage{
				.event-display{
					height: 150px;
					width:100%;
					background-color:gray;
				}
				.event-title{
					margin-top: @smallMargin;
					a{
						font-family: 'COLFAX';
						color: black;
						text-transform:uppercase;
						font-size: 14px;
						&:hover{
							color:@electric-blue;
						}
					}
					
				}
				.event-short-about{
					margin-top: @smallMargin;
					font-family: @font-basic;
					height: 53px;
					/* Fallback for non-webkit */
					overflow: hidden;
				}
				.event-short-more{
					font-size: 14px;
					position: relative;
					bottom: 16px;
					background-color: white;
					float: right;
					padding-left: 5px;
					-webkit-box-shadow: -5px 0px 5px rgba(255, 255, 255, 0.75);
					-moz-box-shadow:    -5px 0px 5px rgba(255, 255, 255, 0.75);
					box-shadow:         -5px 0px 5px rgba(255, 255, 255, 0.75);
					a{
						color:@electric-blue;
						font-family: 'COLFAX';
					}

				}
			}
		}
	}
}

@import "responsive.less";
@import "animations.less";