<div class="section" id="contact-page">
	<div class="container">
		<div class="one-third column">
			<div class="section-header">
				contact
			</div>
			<ul>
				<li>
					<p>arthackday@gmail.com</p>
				</li>
				<li>	
					<div class="basic-colfax">OLOF MATHÉ</div>
					<p><a href="">@olofster</a></p>
				</li>
				<li>
					<div class="basic-colfax">PAUL CHRISTOPHE</div>
					<p><a href="">@captDaylight</a></p>
				</li>
				<li>
					<div class="basic-colfax">DAVID HUERTA</div>
					<p><a href="">@huertanix</a></p>
				</li>
			</ul>
		</div>
		<div class="two-third column">
			<div class="section-header">
				send us a message
			</div>
			<input type="text" placeholder="Email Address"/>
			<input type="text" placeholder="Subject"/>
			<textarea placeholder="Your Message..."></textarea>
		</div>
	</div>
</div>