// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$highlight: #FF9;
$lowlight: #F1F1F1;
$light_text: #FFF;
$dark_text: #000;

#events li {
  background-color:$lowlight;
}

#events li a, #events li a:visited {
  color:$dark_text;
}

#events li.upcoming {
  background-color:$highlight;
}

#venue_map {
  width:100%;
  height:300px;
}